@import "styles/bootstrap-import";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* CSS Document */

@font-face {
    font-family: pixel;
    src: url("fonts/pixelfont.TTF");
}

@font-face {
    font-family: PressStart2P;
    src: url("fonts/pressstart.TTF");
}

$firstColor: #ffbe3d;
$secondaryColor: #ffb624;
$terciaryColor: #d68f00;

body {
	width: 100vw;
	height: 100vh;
	//font-size: 12px;
	//font-family: PressStart2P;
	font-size: 17px;
	font-family: 'Lucida Console', Monaco, monospace;
	height: 100vh;
	display: flex;
    flex-direction: column;
    overflow: hidden;
    //background-color: $mainColor !important;
    background: linear-gradient(10deg, $firstColor, $secondaryColor, $terciaryColor);
}

h1, nav {
	font-family: pixel;
	font-size: 23px;
}

$navChange: 1421px;
$footerChange: 1542px;

/*.embed-responsive::before {
	@media screen and (min-width: $footerChange){
		padding: 100%;
	}
}*/

nav {
	width: 100%;
	//background-color: $mainColor !important;
	
	/*@media screen and (min-width: $navChange){
		border: 4px solid white;
		//background-color: $firstColor + c9 !important;
		background: linear-gradient(10deg, $firstColor + c9, $secondaryColor + c9, $terciaryColor + c9) !important;
		margin-top: 10px;
		position: absolute !important;
		border-radius: 10px;
		z-index: 10;
		width: auto;
	}*/

	@media screen and (min-width: 992px){
		width: auto;
	}

	@media screen and (max-width: 1105px){
		font-size: 20px;
	}

	ul.dropdown-menu {
		background: linear-gradient(10deg, $firstColor, $secondaryColor, $terciaryColor);
		border: 2px solid black;

		@media screen and (max-width: 992px){
			background: none;
		}
	}
}

.controls {
	/*@media screen and (min-width: 1000px){
		display: none !important;
	}*/
}

.pad-container {
	position: relative;
	width: 75px;
	height: 70px;
}

.pad-container:after {
    content: "";
    z-index: 1;
    top: 2px;
    left: 2px;
    height: 44px;
    width: 44px;
    background: $secondaryColor;
    position: absolute;
    border-radius: 100%;
}

.pad-container:before {
	content: "";
    position: absolute;
    z-index: 0;
    top: -11px;
    left: -11px;
    width: 70px;
    height: 70px;
    background: linear-gradient(to right, #ffc757, #8a5c00);
    border-radius: 100%;
}

.hide-before:before, .hide-after:after { display:none; }
.border-none-before:before, .border-none-after:after { display:none; }

@import "styles/embed-responsive";
@import "styles/popup";
@import "styles/controls";
@import "styles/screen";
@import "styles/footer";
@import "styles/carousel";