.controls {
	display: block;
    position: relative;

	.dpad-container {
	    width: 11rem;
	    height: 11rem;
	    border-radius: 100%;
	    position: absolute;
	    left: 5%;
	    //top: 3rem;

		.d-pad {
		    width: 2.8rem;
		    height: 8.4rem;
		    background-color: #333;
		    position: relative;
		    margin: 1.2rem auto;
		    box-sizing: border-box;
		    border: 0.2rem solid black;
		    border-top: 0.2rem solid #666666;
		    border-right: 0.2rem solid #666666;
		}

		.d-pad-up {
			width: 2.8rem;
		    height: 3.1rem;
		    position: absolute;
		    content: "";
		    background-color: #333;
		    left: -0.2rem;
		    top: -0.2rem;
		    border: 0.2rem solid black;
		    border-top: 0.2rem solid #666666;
		    border-right: 0.2rem solid #666666;
		    border-bottom: none;
		    box-sizing: border-box;
		    cursor: pointer;
		}

		.d-pad-down {
			width: 2.8rem;
		    height: 3.1rem;
		    position: absolute;
		    content: "";
		    background-color: #333;
		    left: -0.2rem;
		    bottom: -0.2rem;
		    border: 0.2rem solid black;
		    border-top: none;
		    border-right: 0.2rem solid #666666;
		    box-sizing: border-box;
		    cursor: pointer;
		}

		.d-pad-left {
		    width: 3.1rem;
		    height: 2.8rem;
		    position: absolute;
		    content: "";
		    background-color: #333;
		    left: -3.1rem;
		    top: 2.6rem;
		    border-bottom: 0.2rem solid black;
		    border-left: 0.2rem solid black;
		    border-top: 0.2rem solid #666666;
		    box-sizing: border-box;
		    cursor: pointer;
		}

		.d-pad-right {
		    width: 3.1rem;
		    height: 2.8rem;
		    position: absolute;
		    content: "";
		    background-color: #333;
		    left: 2.3rem;
		    top: 2.6rem;
		    border-top: 0.2rem solid #666666;
		    border-right: 0.2rem solid #666666;
		    border-bottom: 0.2rem solid black;
		    box-sizing: border-box;
		    cursor: pointer;
		}

	}

	.dpad-container:before {
	    width: 11.8rem;
	    height: 11.8rem;
	    border-radius: 100%;
	    content: "";
	    position: absolute;
	    top: -0.4rem;
	    left: -0.4rem;
	    z-index: -1;
	}

	.dpad-container:after {
	    width: 10.2rem;
	    height: 10.2rem;
	    border-radius: 100%;
	    content: "";
	    position: absolute;
	    top: 0.4rem;
	    left: 0.4rem;
	    z-index: -1;
	}

	.buttons-container {
	    width: 12.4rem;
	    height: 5.1rem;
	    background: yellow;
	    border-radius: 11rem;
	    position: absolute;
	    right: 5%;
	    top: 3.5rem;
	    transform: rotate(-12deg);
	    z-index: 1;

	    .b-button, .a-button {
		    font-family: Arial, Helvetica, sans-serif;
		    font-weight: 700;
		    line-height: 4rem;
		    font-size: 2.2rem;
		    color: #404040;
		    transform: rotate(12deg);
		    text-align: center;
		    width: 4rem;
		    height: 4rem;
		    background-color: #333;
		    border-radius: 100%;
		    position: absolute;
		    left: 0.8rem;
		    top: 0.5rem;
		    box-sizing: border-box;
		    border: none;
		    cursor: pointer;
		    z-index: 1;

		    .letter {
			    display: block;
			    position: absolute;
			    z-index: 200;
			    top: 0.05em;
			    left: calc(50% - 0.3em);
			}
		}

		.b-button:before, .a-button:before {
		    width: inherit;
		    height: inherit;
		    border-radius: inherit;
		    content: "";
		    position: absolute;
		    background: yellow;
		    left: 0rem;
		    top: 0rem;
		    background: linear-gradient(to right, #4d4d4d, #262626);
		    z-index: -1;
		}

		.b-button:after, .a-button:after {
		    width: 3.6rem;
		    height: 3.6rem;
		    background: #333;
		    content: "";
		    position: absolute;
		    left: 0.2rem;
		    top: 0.2rem;
		    border-radius: inherit;
		    z-index: 0;
		}

		.a-button {
		    left: 7.6rem;
		}

	}

	.buttons-container:after {
	    width: inherit;
	    height: inherit;
	    top: 0rem;
	    left: 0rem;
	    position: absolute;
	    content: "";
	    border-radius: 11rem;
	    z-index: 0;
	}

	.buttons-container:before {
	    content: "";
	    position: absolute;
	    left: -0.8rem;
	    top: -0.8rem;
	    border-radius: 11rem;
	    width: 14rem;
	    height: 6.7rem;
	    z-index: 0;
	}

	
	@media screen and (max-width: 690px){
		.dpad-container{
			width: 9rem;
			height: 9rem;

			.d-pad {
				width: 2.3rem;
				height: 6.8rem;
			}

			.d-pad-up {
				width: 2.3rem;
				height: 2.5rem;
			}

			.d-pad-down {
				width: 2.3rem;
				height: 2.5rem;
			}

			.d-pad-left {
				width: 2.5rem;
				height: 2.3rem;
				left: -2.5rem;
				top: 2.2rem;
			}

			.d-pad-right {
				width: 2.5rem;
				height: 2.3rem;
				left: 1.9rem;
				top: 2.2rem;
			}
		}

		.dpad-container:before{
			width: 9.8rem;
			height: 9.8rem;
		}

		.dpad-container:after{
			width: 8.2rem;
			height: 8.2rem;
		}

		.buttons-container {
			width: 10.1rem;
			height: 4.1rem;

			.b-button, .a-button {
				width: 3.24rem;
				height: 3.24rem;

				.letter {
					top: -0.3rem;
				}
			}

			.a-button {
				left: 6rem;
			}

			.b-button:after, .a-button:after {
				width: 2.95rem;
				height: 2.95rem;
			}
		}

		.buttons-container:before {
			width: 11.765rem;
			height: 5.5rem;
			top: -0.75rem;
		}
	}

	@media screen and (min-width: 1000px){
		.dpad-container {
			top: 0rem;
		}

		.buttons-container {
			top: 3rem;
		}
	}

	@media screen and (min-width: 1100px){
		display: none;
	}
}

.speaker-holder {
	width: 8rem;
    height: 8rem;
    //position: absolute;
    //top: 10px;//8rem;
    //left: calc(50% - 4rem);
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    z-index: -2;

	.dot {
		width: 0.3rem;
	    height: 0.3rem;
	    background-color: #000;
	    margin: 0.8rem;
	    border-radius: 100%;
	}

	.large-dot {
		width: 0.5rem;
	    height: 0.5rem;
	    border-radius: 0.5rem;
	}

	@media screen and (min-width: 850px){
		display: none;
	}

	@media screen and (max-height: 790px){
		display: none;
	}
}
